h1, .h1 {
  text-transform: uppercase;
/*  font-family: Lato,proxima-nova,Helvetica Neue,Arial,sans-serif !important; */
}

h2, .h2 {
  border-top: 1px solid;
  line-height: 200%;
  margin-bottom: 12px !important;
}

/* 
h3, .h3 {
  font-family: Lato,proxima-nova,Helvetica Neue,Arial,sans-serif !important;
} 
*/

h4, .h4 {
  font-size: 100%;
  font-style: italic;
} 


h5, .h5 {
  font-size: 90%;
  font-style: italic;
}


.wy-nav-top {
  background:#ffae00 !important; 
}

dl.footnote>dd p {
  font-size: .7rem !important;
  line-height: 15px !important;
}

.footnote-reference {
  top: -0.6em !important;
  font-size: 60% !important;
}

.sidebar-no-background {
  float: right;
  width: 30% !important;
  display: block;
  margin: 0 0 12px 12px !important;
  padding: 12px !important;
  background:#00000000 !important; 
  border: 1px solid #00000000 !important; 
}

.sidebar-see-here {
  float: right;
  width: 30% !important;
  display: block;
  margin: 0 0 12px 12px !important;
  padding: 12px !important;
  background:#faae0040  !important; 
  border: 1px solid #00000000 !important; 
}

.note-ed-hidden-title .admonition-title {
  background:#ffffff !important;
  height: 0px !important;
  padding: 0px !important;
  line-height: 0px !important;
  visibility: collapse !important;
}

.note-ed-hidden-title {
  background:#fcc75620 !important; 
}

.note-ed .admonition-title {
  background:#fcc756 !important; 
}

.note-ed {
  background:#fcc75620 !important;  
}

.menuselection {
  background:#b9b9b940 !important;
  font-size: 90% !important;
}

/* sidebar level 3 bullet points */
div#on-this-page ul.simple li ul li p {
  font-size: 80% !important;
  line-height: 120% !important;
}

/* sidebar level 3 bullet points */
div#on-this-page ul.simple li ul li {
  line-height: 120% !important;
}

/* sidebar level 2 bullet points */
div#on-this-page ul.simple li p {
  font-size: 80% !important;
  line-height: 120% !important;
}

/* sidebar level 2 bullet points */
div#on-this-page ul.simple li {
  line-height: 120% !important;
}

li.toctree-l1 ul, li.toctree-l2 ul, li.toctree-l3 ul {
  margin-top: 0px !Important;
  margin-bottom: 0px !Important;
}

li.toctree-l3, li.toctree-l4 {
  margin-top: 0px !Important;
  margin-bottom: 0px !Important;
  font-size: 90% !important;
  line-height: 120% !important;
}