h1, .h1 {
  text-transform: uppercase;
/*  font-family: Lato,proxima-nova,Helvetica Neue,Arial,sans-serif !important; */
}

h2, .h2 {
  border-top: 1px solid;
  line-height: 200%;
  margin-bottom: 12px !important;
}

/* 
h3, .h3 {
  font-family: Lato,proxima-nova,Helvetica Neue,Arial,sans-serif !important;
} 
*/

h4, .h4 {
  font-size: 100%;
  font-style: italic;
} 


h5, .h5 {
  font-size: 90%;
  font-style: italic;
}


.wy-nav-top {
  background:#ffae00 !important; 
}

dl.footnote>dd p {
  font-size: .7rem !important;
  line-height: 15px !important;
}

.footnote-reference {
  top: -0.6em !important;
  font-size: 60% !important;
}

.sidebar-no-background {
  float: right;
  width: 30% !important;
  display: block;
  margin: 0 0 12px 12px !important;
  padding: 12px !important;
  background:#00000000 !important; 
  border: 1px solid #00000000 !important; 
}

.sidebar-see-here {
  float: right;
  width: 30% !important;
  display: block;
  margin: 0 0 12px 12px !important;
  padding: 12px !important;
  background:#faae0040  !important; 
  border: 1px solid #00000000 !important; 
}

.note-ed-hidden-title .admonition-title {
  background:#ffffff !important;
  height: 0px !important;
  padding: 0px !important;
  line-height: 0px !important;
  visibility: collapse !important;
}

.note-ed-hidden-title {
  background:#fcc75620 !important; 
}

.note-ed .admonition-title {
  background:#fcc756 !important; 
}

.note-ed {
  background:#fcc75620 !important;  
}

.menuselection {
  background:#b9b9b940 !important;
  font-size: 90% !important;
}

/* sidebar level 3 bullet points */
div#on-this-page ul.simple li ul li p {
  font-size: 80% !important;
  line-height: 120% !important;
}

.hr-dashed {
  margin: -10px 0px -10px 0px; 
  border-top: 1px dashed #d2dfe3;
}

.hr-heavy {
  margin: -10px 0px -10px 0px; 
  border-top: 5px solid #d2dfe3;
}

html[data-theme='dark'] .hr-dashed {
  border-top: 1px dashed #114759;
}

/* sidebar level 3 bullet points */
div#on-this-page ul.simple li ul li {
  line-height: 120% !important;
}

/* sidebar level 2 bullet points */
div#on-this-page ul.simple li p {
  font-size: 80% !important;
  line-height: 120% !important;
}

/* sidebar level 2 bullet points */
div#on-this-page ul.simple li {
  line-height: 120% !important;
}

li.toctree-l1 ul, li.toctree-l2 ul, li.toctree-l3 ul {
  margin-top: 0px !Important;
  margin-bottom: 0px !Important;
}

li.toctree-l3, li.toctree-l4 {
  margin-top: 0px !Important;
  margin-bottom: 0px !Important;
  font-size: 90% !important;
  line-height: 120% !important;
}

.wy-nav-top {
  font-size: 80% !important; 
}

.wy-nav-top a {
  font-family: Audiowide,Helvetica,Arial,sans-serif !important;
  font-weight: 100 !important;
}

.wy-nav-content {
  max-width: 1024px;
}

.wy-breadcrumbs {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  font-size: 80% !important;
}

.wy-side-nav-search>a img.logo {
    width: 60%;
}

/* sidebar level 3 bullet points */
nav#on-this-page ul.simple li ul li p {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  font-size: 80% !important;
  line-height: 120% !important;
  margin-bottom: 0px !important;
}

/* sidebar level 3 bullet points */
nav#on-this-page ul.simple li ul li {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  line-height: 120% !important;
  margin-bottom: 0px !important;
}

/* sidebar level 2 bullet points */
nav#on-this-page ul.simple li p {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  font-size: 80% !important;
  line-height: 120% !important;
  margin-bottom: 0px !important;
}

/* sidebar level 2 bullet points */
nav#on-this-page ul.simple li {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  line-height: 120% !important;
  margin-bottom: 0px !important;
}

nav#on-this-page ul.simple {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  margin-bottom: 0px !important;
}

nav#on-this-page p {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  margin-top: 0px !important;
  margin-bottom: 6px !important;
}

nav#on-this-page {
  margin-bottom: 10px !important;
}


/* in-this-section level 3 bullet points */
nav.in-this-section ul.simple li ul li p {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  font-size: 80% !important;
  line-height: 120% !important;
  margin-bottom: 0px !important;
}

/* in-this-section level 3 bullet points */
nav.in-this-section ul.simple li ul li {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  line-height: 120% !important;
  margin-bottom: 0px !important;
}

/* in-this-section level 2 bullet points */
nav.in-this-section ul.simple li p {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  font-size: 80% !important;
  line-height: 120% !important;
  margin-bottom: 0px !important;
}

/* in-this-section level 2 bullet points */
nav.in-this-section ul.simple li {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  line-height: 120% !important;
  margin-bottom: 0px !important;
}

nav.in-this-section ul.simple {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  margin-bottom: 0px !important;
}

nav.in-this-section p {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  font-style: italic;
  font-size: 90%;
  margin-top: 0px !important;
  margin-bottom: 6px !important;
  margin-left: -30px;
}

nav.in-this-section {
  margin-bottom: 20px !important;
  margin-left: 30px;
}

/* sidebars */
.rst-content .sidebar {
  padding: 12px 24px 12px 24px !important;
  border-radius: 10px;
}

html[data-theme='dark'] .rst-content .sidebar {
  background: #000000ff !important;
  border:#000000ff !important;
}

.sidebar-title {
  border-radius: 10px;
}

html[data-theme='dark'] .sidebar-title {
  background: #002735 !important;
}

/* in-this-section level 3 bullet points */
nav.in-this-section ul.simple li ul li p {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  font-size: 80% !important;
  line-height: 120% !important;
  margin-bottom: 0px !important;
  text-indent: 25px !important;
}

/* in-this-section level 3 bullet points */
nav.in-this-section ul.simple li ul li {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  line-height: 120% !important;
  margin-bottom: 0px !important;
  text-indent: 25px !important;
}

/* in-this-section level 2 bullet points */
nav.in-this-section ul.simple li p {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  font-size: 80% !important;
  line-height: 120% !important;
  margin-bottom: 0px !important;
  text-indent: 25px !important;
}

/* in-this-section level 2 bullet points */
nav.in-this-section ul.simple li {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  line-height: 120% !important;
  margin-bottom: 0px !important;
  text-indent: 25px !important;
}

nav.in-this-section ul.simple {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  margin-bottom: 0px !important;
}

nav.in-this-section p {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  font-style: italic;
  font-size: 90%;
  margin-top: 0px !important;
  margin-bottom: 6px !important;
  margin-left: -30px;
}

nav.in-this-section {
  margin-bottom: 20px !important;
  margin-left: 30px;
}

html[data-theme='dark'] .rst-content .guilabel{
  border:1px solid #7f929f;
  background:#e7f2fa;
  font-size:80%;
  font-weight:700;
  border-radius:4px;
  padding:2.4px 6px;
  margin:auto 2px;
  color: black;
}