h1, .h1 {
  text-transform: uppercase;
}

h2, .h2 {
  border-top: 1px solid;
}


h4, .h4 {
  font-size: 100%;
  font-style: italic;
} 

.wy-nav-top {
  background:#ffae00 !important; 
}

.wy-nav-top {
  background:#ffae00 !important; 
  line-height: 15px !important;
}

.sidebar-no-background {
  float: right;
  width: 30% !important;
  display: block;
  margin: 0 0 12px 12px !important;
  padding: 12px !important;
  background:#00000000 !important; 
  border: 1px solid #00000000 !important; 
}